@import 'constants.scss';
@import 'media-queries.scss';

.container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: $icon-padding-small;
  box-sizing: border-box;
  transition: opacity 0.5s ease;
  z-index: 20;

  &.isHidden {
    pointer-events: none;
    opacity: 0;
  }

  .button {
    width: auto;
    margin: $icon-padding-small $icon-padding-small 0 0;
    flex: 0 0 calc(50% - #{$icon-padding-small} / 2);

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
