@import 'constants.scss';
@import 'media-queries.scss';

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: opacity 0.5s ease;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  form input[type='submit'] {
    display: none;
  }
}

.isHidden.container {
  pointer-events: none;
  opacity: 0;
}

.isHidden.container * {
  pointer-events: none;
}

.container .closeButton {
  position: absolute;
  right: 0;
  top: 0;
}

.title {
  max-width: 80%;
  color: white;
  margin-bottom: 1em;
  text-align: center;
  line-height: 1.2em;
  font-size: 1.2em;
  font-weight: 200;
}

.input {
  line-height: $icon-size-small;
  padding: 0 $icon-padding-small;
  border-radius: calc(#{$icon-size-small} / 2 + #{$icon-padding-small});
  width: 200px;
  box-sizing: border-box;
  margin-bottom: calc(#{$icon-padding-small} / 2);

  @include phone-landscape {
    line-height: $icon-size-small-phone-landscape;
    border-radius: calc(
      #{$icon-size-small-phone-landscape} / 2 + #{$icon-padding-small}
    );
  }
}
