.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: opacity 0.5s ease;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.isHidden.container {
  pointer-events: none;
  opacity: 0;
}

.isHidden.container * {
  pointer-events: none;
}

.container .closeButton {
  position: absolute;
  right: 1.3rem;
  margin-right: 0;
  top: 0;
}

.poi {
  border: 1px solid white;
  border-radius: 15px;
  padding: 1rem;
  width: 50vw;
  max-width: 50vh;
  box-sizing: border-box;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 1rem;
}

.name {
  font-size: 1.1em;
  margin-bottom: 0.5rem;
}

.image {
  margin-bottom: 0.5rem;
  padding-bottom: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.7) center / cover no-repeat;
}

.description {
  font-weight: 200;
  font-size: 0.9em;
  line-height: 1.4em;
}

.buttons {
  display: flex;
}

.buttons .button {
  margin: 0.5em 0.5em 0 0;
}

.buttons .button:last-child {
  margin-right: 0;
}

@media only screen and (orientation: portrait) {
  .image {
    transform: rotate(90deg);
  }
}

@media only screen and (orientation: portrait) and(max-height: 736px),
  screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
  .buttons {
    flex-flow: column;
  }

  .buttons .button {
    margin-right: 0;
  }

  .buttons .button:first-child {
    margin-top: 0;
  }
}
