@import 'clip-path.scss';

.container {
  flex-flow: column;
  display: flex;
  width: 100%;
  height: 100%;

  &.gap-right1 {
    @include clipPathGapRight1();
  }

  &.gap-right2 {
    @include clipPathGapRight2();
  }

  &.gap-right3 {
    @include clipPathGapRight3();
  }

  &.gap-right4 {
    @include clipPathGapRight4();
  }

  &.gap-left1 {
    @include clipPathGapLeft1();
  }

  &.gap-left2 {
    @include clipPathGapLeft2();
  }

  &.gap-left3 {
    @include clipPathGapLeft3();
  }
}
