.container {
  flex: 0 0 auto;
  border-radius: 15px 15px 0 0;
  padding: 18px;
  font-size: 1.4em;
  font-weight: bold;
  height: 2rem;
  line-height: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
  display: flex;

  &.isDark {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }
}
