.toolBar .buttonSmall {
  padding-right: 0;
}

.headerBar {
  .headerBarButton {
    padding-left: 0;
  }
}

.button {
  padding-top: 0;
}

.toolBar .button {
  padding-top: 0;
}

.buttonSave {
  position: absolute;
  left: 0;
  bottom: 0;
}
