.toolbar .buttonSmall {
  margin-right: 0;
}

.headerBar .headerBarButton {
  margin-right: 0;
}

.button {
  margin-top: 0;
}

.toolbar .button {
  margin-top: 0;
}

.buttonSave {
  position: absolute;
  left: 0;
  bottom: 0;
}
