@import 'constants.scss';
@import 'media-queries.scss';

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
  font-size: 1em;
  transition: 0.5s cubic-bezier(0.38, 1.38, 0.73, 0.98);
  transition-property: transform, opacity;
  background-color: rgba(40, 47, 57, 0.6);
  color: white;

  @include phone-landscape {
    font-size: 1.2em;
  }

  &.isHidden {
    opacity: 0;
    pointer-events: none;

    .cancelButton {
      pointer-events: none;
    }
  }

  .cancelButton {
    position: absolute;
    right: 0;
    top: 0;
  }

  .button {
    margin-top: 2em;
    max-width: 200px;
    width: 60vw;

    @include phone-landscape {
      margin-top: 1.5em;
    }
  }

  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100vh - 6em);
    width: calc(100vw - 6em);
    max-width: 600px;
    display: flex;
    flex-flow: column;
    align-items: center;

    @include phone-landscape {
      width: calc(100vw - 3em);
      max-height: calc(100vh - 4em);
    }

    @include tablet {
      max-height: 60vh;
    }
  }

  .help {
    flex: 0 1 auto;
    overflow-y: auto;
    /* Webkit-overflow-scrolling auto will destroy the buttons (this will result in borders with webkit-mask-image). */
    /* -webkit-overflow-scrolling: touch; */
    -webkit-overflow-scrolling: auto;
    display: flex;
    flex-flow: column;
  }

  .icon {
    flex: 0 0 auto;
    margin: 0;
    width: 3em;
    height: 3em;
    background-color: white;
  }

  .entry {
    flex: 0 0 auto;
    margin: 2em 0 0 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;

    &:first-of-type {
      margin: 0;
    }

    @include phone-landscape {
      margin-top: 1em;
    }
  }

  .text {
    display: flex;
    justify-content: center;
    line-height: 1.2em;
    flex: 1 1 auto;
    flex-flow: column;
    max-width: 70%;
    margin-left: 1em;

    @include tablet {
      max-width: 40%;
    }
  }

  .title {
    font-size: 1.1em;
    flex: 0 0 auto;
    line-height: 1.3em;
    margin-bottom: 0.35em;
  }

  .description {
    flex: 0 0 auto;
    line-height: 1.2em;

    // Add padding-bottom to avoid scrolling bug (wrong flex calculation).
    padding-bottom: 4px;
  }

  .image {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
  }

  .continueButton {
    margin-top: $icon-padding;
  }
}
