@import 'constants.scss';
@import 'media-queries.scss';

.chat {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - (#{$icon-size} + #{$icon-padding} * 2));
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include phone-landscape {
    width: calc(100% - (#{$icon-size-phone-landscape} + #{$icon-padding} * 2));
  }
}

.messages {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-flow: column;
  padding: 0 $icon-padding-small;
  width: 100%;
  box-sizing: border-box;
  align-items: flex-start;
}

.isVisible.chat {
  opacity: 1;
  pointer-events: auto;
}

.message {
  flex: 0 0 auto;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: calc(#{$icon-padding-small} / 2) $icon-padding-small;
  border-radius: $icon-size-small;
  margin: $icon-padding-small 0;
  justify-content: flex-start;

  @include phone-landscape {
    border-radius: $icon-size-small-phone-landscape;
  }
}

.message:first-child {
  margin-top: 6em;
}

.message > span {
  line-height: $icon-size-small;

  @include phone-landscape {
    line-height: $icon-size-small-phone-landscape;
  }
}

.message.speaker-user {
  background-color: lightgrey;
  color: black;
  margin-left: $icon-size-small;

  @include phone-landscape {
    margin-left: $icon-size-small-phone-landscape;
  }
}

.message.speaker-guide {
  color: white;
}
