@import 'constants.scss';
@import 'media-queries.scss';

.button {
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  border: none;
  -webkit-appearance: none;
  min-width: 96px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 14px;
  width: 200px;
  cursor: pointer;
  border-radius: calc(#{$icon-size-small} / 2);
  line-height: $icon-size-small;
  height: $icon-size-small;
  flex: 0 0 auto;

  @include phone-landscape {
    height: $icon-size-small-phone-landscape;
    line-height: $icon-size-small-phone-landscape;
  }

  &.isActive {
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    font-weight: 500;
  }
}
