.button {
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  border: none;
  -webkit-appearance: none;
  min-width: 96px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  padding: 0 14px;
  width: 200px;
  cursor: pointer;
  line-height: 2em;
  height: 2em;
  flex: 0 0 auto;
}

.button span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  font-weight: 500;
}

.button.isActive {
}
