@import 'constants.scss';
@import 'media-queries.scss';
$margin: 2rem;

body .container {
  position: absolute;
  pointer-events: none;
  transition: opacity 0.25s ease;
  display: flex;
  justify-content: center;
  bottom: $margin;

  left: 0;
  right: 0;

  &.isCenter {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
  }

  &.isHidden {
    opacity: 0;
  }

  .content {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    border-radius: 1000px;
    padding: 0.5rem;
    border: 1px solid white;
    box-sizing: border-box;
    max-width: calc(100% - 2 * #{$margin});
  }

  .icon,
  .text {
    float: left;
  }

  .icon {
    flex: 0 0 auto;
    margin: 0;
    background-color: white;
    width: $icon-size-small;
    height: $icon-size-small;

    @include phone-landscape {
      width: $icon-size-small-phone-landscape;
      height: $icon-size-small-phone-landscape;
    }
  }

  .text {
    flex: 1 1 auto;
    font-size: 0.8em;
    color: white;
    text-align: left;
    padding: 0 0.5rem;
  }

  &.noIcon {
    .text {
      padding: 0 1rem;
    }

    .ccon {
      width: 0;
    }
  }
}
