@import 'constants.scss';
@import 'media-queries.scss';

.container {
  position: absolute;
  right: calc(#{$icon-size} * 0.5 + #{$icon-padding});
  left: calc(#{$icon-size} * 0.5 + #{$icon-padding});
  bottom: 0;
  top: 15%;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;

  @include phone-landscape {
    right: calc(
      #{$icon-size-phone-landscape} * 0.5 + #{$icon-padding-phone-landscape}
    );
    left: calc(
      #{$icon-size-phone-landscape} * 0.5 + #{$icon-padding-phone-landscape}
    );
    top: 31%;
  }

  @include tablet-landscape {
    left: 600px;
  }

  &.isVisible {
    opacity: 1;
    pointer-events: all;
  }

  .headerButton {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.2rem;
    padding: 0 0 0 0.5rem;

    &.isActive {
      width: 2rem;
      height: 2rem;
      margin: 0;
    }
  }
}

.item {
  font-size: 1.1em;
  margin-bottom: $icon-padding-small / 2;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  height: calc(#{$icon-size-small} + #{$icon-padding-small} * 2);
  border-radius: $icon-size-small;
  flex: 0 0 auto;
  padding: 0 $icon-size-small;
  cursor: pointer;
  box-sizing: border-box;

  &.isActive {
    border: 2px solid #00ccff;
    color: #00ccff;
  }

  @include phone-landscape {
    height: calc(
      #{$icon-size-small-phone-landscape} + #{$icon-padding-small} * 2
    );
    border-radius: $icon-size-small-phone-landscape;
    padding: 0 $icon-size-small-phone-landscape;
  }
}

.poiImage {
  width: 64px;
  height: 64px;
}

.poiDescription {
  min-width: 192px;
  line-height: calc(#{$icon-size-small} + #{$icon-padding-small} * 2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;

  @include phone-landscape {
    line-height: calc(
      #{$icon-size-small-phone-landscape} + #{$icon-padding-small} * 2
    );
  }
}

.header {
  display: flex;
  flex: 0 0 auto;
  height: auto;
}

.title {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2rem;
  white-space: nowrap;
}

.searchProduct {
  flex: 1 0 auto;
  border: 2px solid #424951;
  border: 2px solid;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 0.7em;
  box-sizing: border-box;
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: auto;
    bottom: 0;
    width: calc(100% - 2rem);
    padding: 0;
    height: 2rem;
    line-height: 2rem;
    background-color: inherit;
    color: inherit;
    border: 0;
    user-select: text;
    font-family: inherit;

    &::placeholder {
      color: inherit;
    }
  }
}

.closeButton {
  position: fixed;
  right: 0;
  bottom: 0;
}
