.errorDialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.message {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  color: white;
  white-space: nowrap;
}

.closeButton {
  margin-top: 1rem;
}
