@import 'constants.scss';
@import 'media-queries.scss';

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 110;
  transition: opacity 0.5s ease;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  &.isHidden {
    pointer-events: none;
    opacity: 0;

    * {
      pointer-events: none;
    }
  }

  .closeButton {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.text {
  max-width: 80%;
  color: white;
  margin-bottom: $icon-size-small;
  line-height: $icon-size-small;
  text-align: center;
  font-size: 1.2em;
  font-weight: 200;

  @include phone-landscape {
    margin-bottom: $icon-size-small-phone-landscape;
    line-height: $icon-size-small-phone-landscape;
  }
}
