@import 'constants.scss';
@import 'media-queries.scss';

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: opacity 0.5s ease;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  form input[type='submit'] {
    display: none;
  }
}

.isHidden.container {
  pointer-events: none;
  opacity: 0;
}

.isHidden.container * {
  pointer-events: none;
}

.container .closeButton {
  position: absolute;
  right: 0;
  top: 0;
}

.container .backButton {
  position: absolute;
  left: 0;
  top: 0;
}

.poi {
  width: 80vw;
  max-width: 80vh;
  box-sizing: border-box;
  color: white;
  height: 80vh;
  display: flex;
  flex-flow: column;
  margin-bottom: $icon-padding-small / 2;
}

.input {
  display: flex;
  flex-flow: column;
  margin-bottom: $icon-padding-small / 2;
}

.inputText {
  flex: 1 0 auto;
}

.label {
  padding: 0 $icon-padding-small;
  font-weight: 200;
  margin-bottom: calc(#{$icon-padding-small} / 2);
  line-height: $icon-size-small;
  flex: 0 0 auto;

  @include phone-landscape {
    line-height: $icon-size-small-phone-landscape;
  }
}

.input .textArea {
  flex: 1 0 auto;
  line-height: $icon-size-small;
  padding: calc(#{$icon-padding-small} / 2) $icon-padding-small;
  border-radius: #{$icon-padding-small};

  @include phone-landscape {
    line-height: $icon-size-small-phone-landscape;
  }
}

.input .textInput {
  line-height: $icon-size-small;
  padding: 0 $icon-padding-small;
  border-radius: calc(#{$icon-size-small} / 2 + #{$icon-padding-small});

  @include phone-landscape {
    line-height: $icon-size-small-phone-landscape;
    border-radius: calc(
      #{$icon-size-small-phone-landscape} / 2 + #{$icon-padding-small}
    );
  }
}
