@import 'constants.scss';
@import 'media-queries.scss';

.trackingLost {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9em;
  line-height: $icon-size-small;
  color: black;
  border-radius: calc(#{$icon-size-small} / 2 + #{$icon-padding-small});
  padding: calc(#{$icon-padding-small} / 2) $icon-padding-small;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;

  @include phone-landscape {
    border-radius: calc(
      #{$icon-size-small-phone-landscape} / 2 + #{$icon-padding-small}
    );
  }

  &.isHidden {
    opacity: 0;
    pointer-events: none;

    & > span {
      line-height: inherit;
    }
  }
}
