.container {
  position: absolute;
  right: calc(78px * 0.5 + 40px);
  left: auto;
  max-width: 50vw;
  bottom: 0;
  top: auto;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.container.isVisible {
  opacity: 1;
  pointer-events: all;
}

.info {
  font-size: 1.2em;
  font-weight: 200;
  margin-bottom: 1em;
}

.image {
  background: url(../../../assets/images/poi_infographic.svg) center / 50%
    no-repeat;
  padding-bottom: 80%;
  margin-bottom: 1em;
}

.placeButton {
  align-self: center;
}

@media only screen and (orientation: portrait) {
  .container {
    max-width: calc(100% - (78px * 0.5 + 40px) * 2);
  }
}

@media only screen and (orientation: landscape) and (max-height: 736px),
  screen and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
  .container {
    right: calc((100vh / 4 - 30px) * 0.5 + 24px);
    left: calc((100vh / 4 - 30px) * 1.5 + 44px);
    max-width: 100%;
  }

  .image {
    flex: 1 0 auto;
    padding-bottom: 0;
    background-size: auto 100%;
  }
}

@media only screen and (orientation: portrait) and(max-height: 736px),
  screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
  .container {
    position: absolute;
    right: calc(60px * 0.5 + 24px);
    left: calc(60px * 0.5 + 24px);
    max-width: 100%;
  }
}
