@import 'media-queries.scss';
@import 'constants.scss';

.container {
  position: absolute;
  max-width: 50vw;
  right: calc(#{$icon-size} * 0.5 + #{$icon-padding});
  left: auto;
  bottom: 0;
  top: auto;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;

  @include phone-landscape {
    right: calc(
      #{$icon-size-phone-landscape} * 0.5 + #{$icon-padding-phone-landscape}
    );
    left: calc(
      #{$icon-size-phone-landscape} * 0.5 + #{$icon-padding-phone-landscape}
    );
    max-width: 100%;
  }

  @media only screen and (orientation: portrait) {
    max-width: calc(100% - (#{$icon-size} * 0.5 + #{$icon-padding}) * 2);
  }

  &.isVisible {
    opacity: 1;
    pointer-events: all;
  }
}

.info {
  font-size: 1.2em;
  font-weight: 200;
  margin-bottom: 1em;
}

.image {
  background: url(../../../assets/images/poi_infographic.svg) center / 50%
    no-repeat;
  padding-bottom: 80%;
  margin-bottom: 1em;

  @include phone-landscape {
    flex: 1 0 auto;
    padding-bottom: 0;
    background-size: auto 100%;
  }
}

.placeButton {
  align-self: center;
}
