.container {
  position: absolute;
  right: calc(78px * 0.5 + 40px);
  left: 600px;
  bottom: 0;
  top: 15%;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.container.isVisible {
  opacity: 1;
  pointer-events: all;
}

.item {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 2.6em;
  border-radius: 1.3em;
  flex: 0 0 auto;
  padding: 0 1.3em;
  cursor: pointer;
  box-sizing: border-box;
}

.item.isActive {
  border: 2px solid #00ccff;
  color: #00ccff;
}

.poiImage {
  width: 64px;
  height: 64px;
}

.poiDescription {
  min-width: 192px;
  line-height: 2.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.hasOriginalName.poiDescription {
  line-height: 1em;
}

.poiOriginalName {
  line-height: 1.5em;
  font-size: 0.8em;
}

.header {
  display: flex;
  flex: 0 0 auto;
}

.title {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.2rem;
  white-space: nowrap;
}

.searchProduct {
  flex: 1 0 auto;
  border: 2px solid #424951;
  border-radius: 1.25rem;
  padding: 0 1rem;
  font-size: 0.7em;
  height: 2.5rem;
  box-sizing: border-box;
  position: relative;
}

.searchProduct input {
  position: absolute;
  top: 0;
  left: auto;
  bottom: 0;
  height: calc(2.5rem - 4px);
  line-height: calc(2.5rem - 4px);
  width: calc(100% - 2.5rem);
  padding: 0;
  background-color: inherit;
  color: #424951;
  border: 0;
  user-select: text;
  font-size: 1em;
}

.searchProduct input::placeholder {
  color: inherit;
}

.headerButton {
  cursor: pointer;
  flex: 0 0 auto;
  width: 2.2rem;
  height: 2.2rem;
  -webkit-mask-size: 800%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url('../../../assets/images/buttons.svg');
}

.headerButton > div {
  box-sizing: border-box;
}

.headerButtonBack {
  -webkit-mask-position-x: calc(100% / 7 * 1);
  -webkit-mask-position-y: calc(100% / 7 * 3);

  margin: 0 0.5rem 0 0;
}

.headerButtonSearch {
  -webkit-mask-position-x: calc(100% / 7 * 2);
  -webkit-mask-position-y: calc(100% / 7 * 3);

  margin: 0 0 0 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

@media only screen and (orientation: landscape) and (max-height: 736px),
  screen and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
  .container {
    right: calc((100vh / 4 - 30px) * 1.5 + 44px);
    left: calc((100vh / 4 - 30px) * 1.5 + 44px);
    top: calc(100% - 369px);
  }
}

@media only screen and (orientation: portrait) and(max-height: 736px),
  screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    position: absolute;
    right: calc(60px * 0.5 + 24px);
    left: calc(60px * 0.5 + 24px);
    top: 31%;
  }
}
