@import 'constants.scss';
@import 'media-queries.scss';

.container {
  width: $icon-size;
  height: $icon-size;
  padding: $icon-padding;
  transition: opacity 0.5s linear;
  pointer-events: all;
  cursor: pointer;

  @include phone-landscape {
    width: $icon-size-phone-landscape;
    height: $icon-size-phone-landscape;
  }

  &.size-small {
    width: $icon-size-small;
    height: $icon-size-small;
    padding: $icon-padding-small;

    @include phone-landscape {
      width: $icon-size-small-phone-landscape;
      height: $icon-size-small-phone-landscape;
      padding: $icon-padding-phone-landscape;
    }
  }

  &.size-medium {
    width: $icon-size-medium;
    height: $icon-size-medium;
    padding: $icon-padding-medium;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.inactive {
    .button {
      background-color: grey;
    }
  }
}
