.button {
  width: 78px;
  height: 78px;
  cursor: pointer;
  margin: 40px;
  transition: opacity 0.5s linear;
  pointer-events: all;
}

.buttonImage {
  -webkit-mask-size: 800%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url('../../../assets/images/buttons.svg');
}

.button.size-small {
  width: 48px;
  height: 48px;
  margin: 16px;
}

.button.size-medium {
  width: 10vh;
  height: 10vh;
  margin: 10px;
}

.button.hidden {
  opacity: 0;
  pointer-events: none;
}

@media only screen and (orientation: landscape) and (max-height: 736px),
  screen and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
  .button {
    width: calc(100vh / 4 - 30px);
    height: calc(100vh / 4 - 30px);
    margin: 24px;
  }

  .button.size-small {
    width: 7vh;
    height: 7vh;
  }
}

.button.icon-none {
  -webkit-mask-image: none;
  background: rgba(0, 0, 0, 0);
}

.button.icon-add {
  -webkit-mask-position-x: calc(100% / 7 * 1);
  -webkit-mask-position-y: calc(100% / 7 * 7);
}

.button.icon-openProject {
  -webkit-mask-position-x: calc(100% / 7 * 0);
  -webkit-mask-position-y: calc(100% / 7 * 7);
}

.button.icon-undo {
  -webkit-mask-position-x: calc(100% / 7 * 0);
  -webkit-mask-position-y: calc(100% / 7 * 2);
}

.button.icon-next {
  -webkit-mask-position-x: calc(100% / 7 * 7);
  -webkit-mask-position-y: calc(100% / 7 * 2);
  transform: rotate(180deg);
}

.button.icon-back {
  -webkit-mask-position-x: calc(100% / 7 * 7);
  -webkit-mask-position-y: calc(100% / 7 * 2);
}

.button.icon-help {
  -webkit-mask-position-x: calc(100% / 7 * 0);
  -webkit-mask-position-y: calc(100% / 7 * 3);
}

.button.icon-menu {
  -webkit-mask-position-x: calc(100% / 7 * 1);
  -webkit-mask-position-y: calc(100% / 7 * 0);
}

.button.icon-screenshot {
  -webkit-mask-position-x: calc(100% / 7 * 6);
  -webkit-mask-position-y: calc(100% / 7 * 0);
}

.button.icon-share {
  -webkit-mask-position-x: calc(100% / 7 * 4);
  -webkit-mask-position-y: calc(100% / 7 * 3);
}

.button.icon-gallery {
  -webkit-mask-position-x: calc(100% / 7 * 5);
  -webkit-mask-position-y: calc(100% / 7 * 3);
}

.button.icon-send {
  -webkit-mask-position-x: calc(100% / 7 * 1);
  -webkit-mask-position-y: calc(100% / 7 * 6);
}

.button.icon-save {
  -webkit-mask-position-x: calc(100% / 7 * 5);
  -webkit-mask-position-y: calc(100% / 7 * 0);
}

.button.icon-cart {
  -webkit-mask-position-x: calc(100% / 7 * 7);
  -webkit-mask-position-y: calc(100% / 7 * 0);
}

.button.icon-delete {
  -webkit-mask-position-x: calc(100% / 7 * 3);
  -webkit-mask-position-y: calc(100% / 7 * 0);
}

.button.icon-configure {
  -webkit-mask-position-x: calc(100% / 7 * 4);
  -webkit-mask-position-y: calc(100% / 7 * 0);
}

.button.icon-info {
  -webkit-mask-position-x: calc(100% / 7 * 3);
  -webkit-mask-position-y: calc(100% / 7 * 1);
}

.button.icon-addProduct {
  -webkit-mask-position-x: calc(100% / 7 * 0);
  -webkit-mask-position-y: calc(100% / 7 * 0);
}

.button.icon-open {
  -webkit-mask-position-x: calc(100% / 7 * 2);
  -webkit-mask-position-y: calc(100% / 7 * 1);
}

.button.icon-skip {
  -webkit-mask-position-x: calc(100% / 7 * 6);
  -webkit-mask-position-y: calc(100% / 7 * 2);
}

.button.icon-finish {
  -webkit-mask-position-x: calc(100% / 7 * 1);
  -webkit-mask-position-y: calc(100% / 7 * 2);
}

.button.icon-undo {
  -webkit-mask-position-x: calc(100% / 7 * 0);
  -webkit-mask-position-y: calc(100% / 7 * 2);
}

.button.icon-window {
  -webkit-mask-position-x: calc(100% / 7 * 2);
  -webkit-mask-position-y: calc(100% / 7 * 4);
}

.button.icon-door {
  -webkit-mask-position-x: calc(100% / 7 * 1);
  -webkit-mask-position-y: calc(100% / 7 * 4);
}

.button.icon-capture {
  -webkit-mask-position-x: calc(100% / 7 * 3);
  -webkit-mask-position-y: calc(100% / 7 * 2);
}

.button.icon-close,
.button.icon-abort {
  -webkit-mask-position-x: calc(100% / 7 * 2);
  -webkit-mask-position-y: calc(100% / 7 * 0);
}

.button.icon-home {
  -webkit-mask-position-x: calc(100% / 7 * 7);
  -webkit-mask-position-y: calc(100% / 7 * 4);
}

.button.icon-active {
  -webkit-mask-position-x: calc(100% / 7 * 7);
  -webkit-mask-position-y: calc(100% / 7 * 6);
}

.button.icon-confirm {
  -webkit-mask-position-x: calc(100% / 7 * 1);
  -webkit-mask-position-y: calc(100% / 7 * 2);
}

.button.icon-scaleGroundDown {
  -webkit-mask-position-x: calc(100% / 7 * 0);
  -webkit-mask-position-y: calc(100% / 7 * 0);
}

.button.icon-scaleGroundUp {
  -webkit-mask-position-x: calc(100% / 7 * 2);
  -webkit-mask-position-y: calc(100% / 7 * 6);
}

.button.icon-sketch {
  -webkit-mask-position-x: calc(100% / 7 * 4);
  -webkit-mask-position-y: calc(100% / 7 * 1);
}

.button.icon-move {
  -webkit-mask-position-x: calc(100% / 7 * 2);
  -webkit-mask-position-y: calc(100% / 7 * 2);
}

.button.icon-room {
  -webkit-mask-position-x: calc(100% / 7 * 1);
  -webkit-mask-position-y: calc(100% / 7 * 1);
}

.button.icon-resetTracking {
  -webkit-mask-position-x: calc(100% / 7 * 3);
  -webkit-mask-position-y: calc(100% / 7 * 2);
}

.button.icon-play {
  -webkit-mask-position-x: calc(100% / 7 * 5);
  -webkit-mask-position-y: calc(100% / 7 * 4);
}

.button.icon-play_outlined {
  -webkit-mask-position-x: calc(100% / 7 * 4);
  -webkit-mask-position-y: calc(100% / 7 * 5);
}

.button.icon-pause_outlined {
  -webkit-mask-position-x: calc(100% / 7 * 3);
  -webkit-mask-position-y: calc(100% / 7 * 5);
}

.button.icon-stop_outlined {
  -webkit-mask-position-x: calc(100% / 7 * 5);
  -webkit-mask-position-y: calc(100% / 7 * 5);
}

.button.icon-pause {
  -webkit-mask-position-x: calc(100% / 7 * 6);
  -webkit-mask-position-y: calc(100% / 7 * 4);
}

.button.icon-stop {
  -webkit-mask-position-x: calc(100% / 7 * 2);
  -webkit-mask-position-y: calc(100% / 7 * 5);
}

.button.icon-login {
  -webkit-mask-position-x: calc(100% / 7 * 0);
  -webkit-mask-position-y: calc(100% / 7 * 5);
}

.button.icon-add_outline {
  -webkit-mask-position-x: calc(100% / 7 * 7);
  -webkit-mask-position-y: calc(100% / 7 * 5);
}

.button.icon-remove_outline {
  -webkit-mask-position-x: calc(100% / 7 * 0);
  -webkit-mask-position-y: calc(100% / 7 * 6);
}

.button.icon-share_outline {
  -webkit-mask-position-x: calc(100% / 7 * 6);
  -webkit-mask-position-y: calc(100% / 7 * 5);
}

.button.icon-poi {
  -webkit-mask-position-x: calc(100% / 7 * 3);
  -webkit-mask-position-y: calc(100% / 7 * 6);
}

.button.icon-placepoi {
  -webkit-mask-position-x: calc(100% / 7 * 4);
  -webkit-mask-position-y: calc(100% / 7 * 6);
}

.button.icon-placewaypoint {
  -webkit-mask-position-x: calc(100% / 7 * 5);
  -webkit-mask-position-y: calc(100% / 7 * 6);
}

.button.active {
  -webkit-mask-position-x: calc(100% / 7 * 2);
  -webkit-mask-position-y: calc(100% / 7 * 0);
}

.button.inactive {
  background-color: grey;
}

@media only screen and (orientation: portrait) and(max-height: 736px),
  screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
  .button.size-small {
    width: 40px;
    height: 40px;
    margin: 10px;
  }

  .button.size-medium {
    width: 42px;
    height: 42px;
    margin: 5px;
  }

  .button {
    width: 60px;
    height: 60px;
    margin: 24px;
  }
}
