<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="initial-scale=1, shrink-to-fit=no, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover"
  />
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>ViewAR Guidebot</title>
</head>
<body>
<div id="app-root"></div>
<div id="modal-root"></div>

<div id="log-container"
     style="display: none; position: fixed; top: 0; left: 0; background: white; font-size: 8px; z-index: -99999999; max-height: 128px; overflow-y: scroll">
  <pre id="log" />
</div>

<div id="output-container"
     style="display: none; position: fixed; bottom: 0; left: 0; background: white; font-size: 8px; z-index: -99999999">
  <pre id="output" />
</div>

<script type="text/javascript">
  window.bundleIdentifier = window.bundleIdentifier || <%= JSON.stringify(htmlWebpackPlugin.options.bundleIdentifier) %>
  window.bundleVersion = window.bundleVersion || <%= JSON.stringify(htmlWebpackPlugin.options.bundleVersion) %>
</script>

<script src="./viewar-core.js"></script>
</body>
<link rel="stylesheet" type="text/css" href="/CustomUI/index.css">
</html>
