.container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.container .toolbar .buttonSmall {
  margin-right: 0;
}

.container .logo {
  position: initial;
  transform: none;
  top: 0;
  margin-bottom: 2em;
}

.headerBar .headerBarButton {
  margin-left: 0;
}
