.container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
}

.container .toolbar .buttonSmall {
  margin-right: 0;
}

.versionInfo {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  color: white;
}

.info {
  color: white;
  margin: calc(48px + 16px);
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.link {
  cursor: pointer;
  color: #00ccff;
}

.logo {
  width: 13rem;
  background: url('../../../assets/images/viewar_logo.svg') center / contain
    no-repeat;
}

.logo:before {
  content: '';
  padding-bottom: 30%;
  float: left;
}

.info h1 {
  font-size: 0.8em;
}

.info p {
  line-height: 1.1em;
  text-align: center;
}

.info a,
.info a:visited {
  cursor: pointer;
  text-decoration: none;
}
