@import 'constants.scss';
@import 'media-queries.scss';

$project-height: calc(#{$icon-size-small} + #{$icon-padding-small} * 2);
$project-radius: calc(#{$project-height} / 2);

$project-height-phone-landscape: calc(
  #{$icon-size-small-phone-landscape} + #{$icon-padding-small} * 2
);
$project-radius-phone-landscape: calc(#{$project-height-phone-landscape} / 2);

.loadDialog {
  position: absolute;
  box-sizing: border-box;
  top: calc(2.6rem + 2rem);
  left: $icon-padding-small;
  right: $icon-padding-small;
  bottom: $icon-padding-small;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  overflow: hidden;
  display: flex;
  flex-flow: column;

  &.isVisible {
    opacity: 1;
    pointer-events: all;
  }

  .iconButton {
    flex: 0 0 auto;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 0;
    margin-right: $icon-padding-small;
  }

  .projects {
    flex: 0 1 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .project {
      border: 1px solid #00ccff;
      box-sizing: border-box;
      color: #00ccff;
      height: $project-height;
      border-radius: $project-radius;
      display: flex;
      align-items: center;
      font-weight: 500;
      margin-bottom: $icon-padding-small / 2;
      cursor: pointer;
      flex: 0 0 auto;

      @include phone-landscape {
        height: $project-height-phone-landscape;
        border-radius: $project-radius-phone-landscape;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.isActive {
        border-width: 3px;
      }
    }
  }
}

.details {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  overflow: hidden;
  margin-left: $icon-size-small;

  @include phone-landscape {
    margin-left: $icon-size-small-phone-landscape;
  }
}

.timestamp {
  font-size: 0.7em;
  line-height: 1.2em;
}

.timestamp span,
.title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  flex: 0 0 auto;
  border: 1px solid;
  border-radius: 50%;
  box-sizing: border-box;
}

.newProject {
  flex: 0 0 auto;
  margin-top: 1rem;
  box-sizing: border-box;
  display: flex;

  .icon {
    width: $project-height;
    height: $project-height;
    margin: 0;
    border-radius: 0;
    flex: 0 0 auto;
    z-index: 10;

    @include phone-landscape {
      width: $project-height-phone-landscape;
      height: $project-height-phone-landscape;
    }
  }

  .project {
    flex: 1 1 auto;
    border-radius: 0 $project-radius $project-radius 0;
    height: calc(#{$project-height} - 2px);
    border: 0;
    color: black;
    margin: 1px 0 1px -3px;
    z-index: 12;
    align-items: center;
    display: flex;

    @include phone-landscape {
      border-radius: 0 $project-radius-phone-landscape
        $project-radius-phone-landscape 0;
      height: calc(#{$project-height-phone-landscape} - 2px);
    }
  }
}
